<html>
  <head>
    <title>Cadastro de Jogadores</title>
    <meta charset="UTF-8">
    <link href="/estilos.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <h1>Resultado</h1>
    <hr>

    <%- include('../menu.html'); %>

    <p>Ação efetuada no banco de dados.</p>
    <a href="/jogadores">Voltar para a Lista de Jogadores</a>
  </body>
</html>

