<html>
  <head>
    <title>Confederação Brasileira de Futebol</title>
    <meta charset="UTF-8">
	<link href="/estilos.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <h1>Home</h1>
	
	<hr>
	
	<%- include('menu.html'); %>
	
	<p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
	 bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
	  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.</p>
  </body>
</html>